.frame {
    background-color: #f8f8ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .overlap-group-wrapper {
    background-color: #f8f8ff;
    border: 3px solid;
    border-color: #bdbdf2;
    width: 1275px;
    height: 600px;
  }
  
  .frame .overlap-group {
    position: relative;
    width: 210px;
    height: 50px;
    top: 30px;
    left: 16px;
    background-color: #d9d9d9;
    border-radius: 5px;
  }
  
  .frame .text-wrapper {
    position: absolute;
    top: 11px;
    left: 8px;
    font-family: "Yomogi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }