<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Электрогитары | МУЗТОРГ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='electroguitars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='t_globals_0.1.css') }}">

</head>
<body>

    <div class="electro-container">
        <!-- Шапка -->
        <div class="electro-header">
            <div>
                <a href="/" title="На главную">
                    <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="Лого" style="width: 100px; height: 100px;"/>
                </a>
            </div>
            <div class="header-title">Магазин для слепых</div>
            <div class="today-badge">Сегодня</div>
        </div>

        <!-- Основной контент -->
        <main class="electro-main">
            <h1 class="section-title">ЭЛЕКТРОГИТАРЫ</h1>
            <div class="pianos-grid">
                <div class="box">
                    <div class="group">
                        <div class="productImage"><img src="{{ url_for('static', filename='Yamaha U1.jpg') }}" alt="Yamaha U1" style="width: 260px; height: 200px;"></div>
                        <div class="price">42 190р</div>
                        <div class="category">Акустическое пианино</div>
                        <div class="productName">Yamaha U1</div>
                    </div>
                </div>

                <div class="filter-block">
                    <h3>Бренды</h3>
                    <ul class="brand-list"> 
                        <li><label> Fender</label></li>
                        <li><label>Gibson</label></li>
                        <li><label> Ibanez</label></li>
                        <li><label> ESP</label></li>
                    </ul>
                </div>


                </div>
            </aside>
        </main>
    </div>
</body>
</html>