@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.frame {
  background-color: #f8f8ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .div {
  background-color: #f8f8ff;
  width: 1920px;
  height: 1080px;
  position: relative;
}


.frame .group {
  position: absolute;
  width: 1277px;
  height: 100px;
  top: 87px;
  left: 323px;
}

.frame .overlap-group {
  position: relative;
  width: 1275px;
  height: 100px;
  background-color: #e6e6fa;
  border-radius: 15px;
  border: 3px solid;
  border-color: #bfbff2;
  box-shadow: 2px 4px 4px #00000040;
}

.frame .text-wrapper {
  position: absolute;
  top: 21px;
  left: 39px;
  font-family: "Yomogi-Regular", Helvetica;
  font-weight: 400;
  color: #5a5a5a;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}
